<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.situm.gettingstarted">

    <application
        android:name=".GettingStartedApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SamplesActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".positioning.PositioningActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".drawbuilding.DrawBuildingActivity"
            android:screenOrientation="portrait">
        </activity>

        <!-- Situm SDK credentials -->
        <meta-data
            android:name="es.situm.sdk.API_USER"
            android:value="@string/api_user" />
        <meta-data
            android:name="es.situm.sdk.API_KEY"
            android:value="@string/api_key" />

        <!-- GMaps api key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

    </application>

</manifest>
