<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.situm.gettingstarted">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:name=".GettingStartedApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".samplelist.SamplesActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".common.selectbuilding.SelectBuildingActivity"
            android:label="Select a building"
            android:parentActivityName=".samplelist.SamplesActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity android:name=".positioning.PositioningActivity"
            android:label="Indoor positioning"
            android:screenOrientation="portrait"
            android:parentActivityName=".samplelist.SamplesActivity">
        </activity>

        <activity android:name=".drawbuilding.DrawBuildingActivity"
            android:label="Draw building"
            android:screenOrientation="portrait"
            android:parentActivityName=".samplelist.SamplesActivity">
        </activity>

        <activity android:name=".indooroutdoor.IndoorOutdoorActivity"
            android:label="Indoor-outdoor positioning"
            android:screenOrientation="portrait"
            android:parentActivityName=".samplelist.SamplesActivity">
        </activity>

        <activity android:name=".drawposition.DrawPositionActivity"
            android:label="Draw position"
            android:screenOrientation="portrait"
            android:parentActivityName=".samplelist.SamplesActivity">
        </activity>

        <activity android:name=".drawpois.DrawPoisActivity"
            android:label="Draw POIs"
            android:screenOrientation="portrait"
            android:parentActivityName=".samplelist.SamplesActivity">
        </activity>

        <activity android:name=".drawroute.DrawRouteActivity"
            android:label="Draw route"
            android:screenOrientation="portrait"
            android:parentActivityName=".samplelist.SamplesActivity">
        </activity>

        <activity android:name=".realtime.RealTimeActivity"
            android:label="Draw realtime"
            android:screenOrientation="portrait"
            android:parentActivityName=".samplelist.SamplesActivity">
        </activity>

        <activity android:name=".poifiltering.ListBuildingsActivity"
            android:label="Select your building"
            android:screenOrientation="portrait"
            android:parentActivityName=".samplelist.SamplesActivity">
        </activity>

        <activity android:name=".poifiltering.FilteringActivity"
            android:label="Key-Value POI Filtering"
            android:screenOrientation="portrait"
            android:parentActivityName=".poifiltering.ListBuildingsActivity">

        </activity>

        <activity android:name=".buildingevents.BuildingListActivity"
            android:label="Select your building"
            android:screenOrientation="portrait"
            android:parentActivityName=".samplelist.SamplesActivity">

        </activity>

        <activity android:name=".buildingevents.GetBuildingEvents"
            android:label="Building Events"
            android:screenOrientation="portrait"
            android:parentActivityName=".buildingevents.BuildingListActivity">

        </activity>

        <activity android:name=".guideinstructions.GuideInstructionsActivity"
            android:label="Instructions while going to a POI"
            android:screenOrientation="portrait"
            android:parentActivityName=".samplelist.SamplesActivity"/>

        <activity android:name=".animateposition.SelectBuildingActivity"
            android:label="Select your building"
            android:screenOrientation="portrait"
            android:parentActivityName=".samplelist.SamplesActivity"/>

        <activity android:name=".animateposition.AnimatePositionActivity"
            android:label="Animate the position while walking"
            android:screenOrientation="portrait"
            android:parentActivityName=".samplelist.SamplesActivity"/>

        <activity android:name=".userinsideevent.ListBuildingsActivity"
            android:label="Select your building"
            android:screenOrientation="portrait"
            android:parentActivityName=".samplelist.SamplesActivity"
            />
        <activity android:name=".userinsideevent.UserInsideEventActivity"
            android:label="User inside an event"
            android:screenOrientation="portrait"
            android:parentActivityName=".userinsideevent.ListBuildingsActivity" />

        <activity android:name=".pointinsidegeofence.PointInsideGeofenceActivity"
            android:label="Point inside a geofence"
            android:screenOrientation="portrait"
            android:parentActivityName=".common.selectbuilding.SelectBuildingActivity"></activity>


        <!-- Google play services version-->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- Situm SDK credentials -->
        <meta-data
            android:name="es.situm.sdk.API_USER"
            android:value="@string/api_user"/>

        <meta-data
            android:name="es.situm.sdk.API_KEY"
            android:value="@string/api_key"/>


        <!-- GMaps api key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

    </application>

</manifest>
